.app{
  display: flex;
  flex-direction: column;
}

header{
  height: 50px;
  background-color: #2a4d69;
  color: #fff;
  padding: 4px 10px;
  display: flex;
  align-items: center;
}

.maininputdiv{
  margin-top: 80px;
  width: 60%;
  align-self: center;
  border: 1px solid #1d1d1d;
  border-radius: 10px;
}

.maininput{
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  padding: 0 10px;
}

.displaypanel{
  margin-top: 15px;
  align-self: center;
  width: 60%;
}

.displaypanel .result{
  margin-top: 15px;
}

.displaypanel .result *{
  margin-top: 5px;
}

